  
:root{

    --background :#000430;
    --secondaryBackground :#171c48;
    --text :#fff;
    --purple :#828dff;
    --teal :#24feee;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    color: var(--text);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid var(--purple); */
    flex-direction: column;
    margin: 120px auto 0px auto;
    /* gap: 20px; */
    border-radius: 10px;
    max-width: 500px;
}
.stats-container{
    border: 2px solid var(--purple);
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 50px;
    padding: 30px;
    border-radius: 10px;
}
.progressbar{
    height: 10px;
    background-color: var(--secondaryBackground);
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}
.progress{
    height: 10px;
    background-color: var(--teal);
    border-radius: 5px;
    width: 0%;
    transition: all 0.3s ease;
}
.circularStats{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    flex-shrink: 0;

}
.title{
    width: 100%;
}
form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 10px;

}
#taskinput{
    background-color: var(--secondaryBackground);
    max-width: 100%;
    padding: 16px;
    border: 1px solid var(--purple);
    border-radius: 10px;
    flex: 1;
    outline: none;
    color: var(--text);

}
.form button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--purple);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0px 0px 12px 1px var(--purple);
    cursor: pointer;
    outline: none;
}
#task-list li img{
    width: 25px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.completed-list li img{
    width: 25px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
#task-list li{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--purple);
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 20px;
    transition: all ease 0.3s;
}
#task-list li input{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
#task-list{
    list-style: none;
    width: 100%;
    margin-top: 40px;
}
#task-list li p{
    flex: 1;
}
.completed-list li{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--purple);
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 20px;
    transition: all ease 0.3s;
}
.completed-list li input{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.completed-list{
    list-style: none;
    width: 100%;
    margin-top: 40px;
}
.completed-list li p{
    flex: 1;
}
.completed{
    text-decoration: line-through;
    color: var(--teal);
}
.separation{
    margin-top: 40px;
    align-self: flex-start;
    font-size: 20px;
    background-color: var(--secondaryBackground);
    border: 2px solid var(--purple);
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
    cursor: pointer;
}
.separation:active{
    background-color: #0f1232 ;
    color:#49e1d5;
}
.separation img{
    width: 20px;
}